@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  list-style: none;
}

button {
  background: none;
  outline: none;
  border: 1px solid whitesmoke;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.4s ease;
  cursor: pointer;
}

button:hover {
  color: black;
  background: whitesmoke;
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  text-align: center;
}

nav {
  max-width: 1100px;
  margin: 0 auto;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
nav ul li {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
  padding: 20px 0;
}
nav ul li:first-child {
  color: #5f04b2;
}
nav ul li:first-child::before {
  content: "";
  position: absolute;
  transform: translateY(-20px);
  width: 100%;
  height: 4px;
  background: #5f04b2;
}
nav ul li:hover::before {
  content: "";
  position: absolute;
  transform: translateY(-20px);
  width: 100%;
  height: 4px;
  background: #5f04b2;
}
nav ul li:last-child:before {
  display: none;
}
nav ul #language {
  background: #e0e0e0;
  padding: 7px 15px;
  border-radius: 50px;
}

header {
  background: url(../img/bg.jpg) center/cover fixed;
  height: 80vh;
}
header .main-header #logo {
  padding: 95px 0 0;
}
header .main-header #logo img {
  width: 800px;
}
header .main-header h1 {
  text-transform: uppercase;
  color: #fff;
  margin-top: 45px;
}
header .main-header button {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 55px;
  padding: 18px 30px;
}
header .main-header button i {
  transform: translateX(5px);
}

.header-text {
  height: 14vh;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-part {
  height: 70vh;
  width: 100%;
  background: #151515;
  padding: 65px 0;
  color: whitesmoke;
}
.icon-part .icon-part-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
.icon-part .icon-part-container .list-icon-part .lip-logo {
  margin-bottom: 30px;
}
.icon-part .icon-part-container .list-icon-part h3 {
  text-transform: uppercase;
  font-weight: 700;
}
.icon-part .icon-part-container .list-icon-part p {
  width: 80%;
  margin: 10px auto 20px;
}
.icon-part .icon-part-container .list-icon-part button {
  padding: 9px 32px;
}

.news-part {
  background: #f7f7f7;
}
.news-part .header-news {
  height: 30vh;
  color: #151515;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: auto;
}
.news-part .header-news .left-part {
  text-align: left;
}
.news-part .header-news .left-part h2 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 55px 0 15px;
  font-size: 1.9rem;
}
.news-part .header-news .left-part p {
  font-weight: 400;
}
.news-part .header-news .right-part button {
  font-weight: 400;
  margin-top: 55px;
  padding: 18px 30px;
  color: black;
  border: 2px solid black;
  font-weight: 600;
  letter-spacing: 4px;
}
.news-part .header-news .right-part button i {
  transform: translateX(6px);
}
.news-part .main-news {
  text-align: left;
  width: 100%;
  height: 70vh;
  position: relative;
  width: 75%;
  margin: auto;
}
.news-part .main-news .main-news-container {
  display: flex;
  justify-content: space-between;
}
.news-part .main-news .main-news-container > div {
  max-width: 300px;
  position: relative;
}
.news-part .main-news .main-news-container > div .mn-pic img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
  box-shadow: 0 3px 10px #888;
  width: 100%;
}
.news-part .main-news .main-news-container > div h4 {
  margin: 15px 0;
  text-align: left;
}
.news-part .main-news .main-news-container > div p {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 45px;
}
.news-part .main-news .main-news-container > div .link {
  text-align: left;
  position: absolute;
  bottom: 0;
}
.news-part .main-news .main-news-container > div .link a {
  text-transform: uppercase;
  color: #5f04b2;
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-weight: 900;
}
.news-part .main-news .main-news-container > div .link a:hover {
  color: rgb(180, 180, 1);
}
.news-part .main-news .main-news-container > div .link a i {
  transform: translateX(5px);
}

.contact {
  padding: 65px 0 20px;
  max-width: 1100px;
  margin: 0 auto;
}
.contact .contact-list {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  position: relative;
}
.contact .contact-list:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background: rgb(235, 235, 235);
  bottom: -28px;
}
.contact .contact-list .list {
  text-align: left;
  width: 24%;
}
.contact .contact-list .list img {
  margin: 0 auto;
  display: block;
}
.contact .contact-list .list h5 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 15px;
}
.contact .contact-list .list .infos-p li {
  margin: 15px 0;
}
.contact .contact-list .list .infos-p p {
  line-height: 22px;
  margin-bottom: 15px;
}
.contact .contact-list .list .infos-p h6 {
  font-size: 0.8rem;
  margin-bottom: 8px;
}
.contact .contact-list .list .network {
  margin: 20px 0 8px;
}
.contact .contact-list .list .footer-logos i {
  font-size: 0.8rem;
  margin: 0 12px 30px 0;
}
.contact .contact-list .list .copyright {
  margin: 0;
}
.contact .contact-medias {
  padding: 60px 0 15px;
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
.contact .contact-medias .medias-text {
  text-align: left;
  width: 30%;
}
.contact .contact-medias .medias-text h3 {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 12px;
}
.contact .contact-medias .medias-text p {
  font-size: 0.8rem;
}
.contact .contact-medias .medias-logos {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.contact .contact-medias .medias-logos img {
  width: 60px;
}

footer {
  background: rgb(15, 15, 15);
  color: whitesmoke;
  padding: 25px;
}
footer h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 32px;
}
footer ul {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}/*# sourceMappingURL=index.css.map */