.icon-part {
  height: 70vh;
  width: 100%;
  background: $black1;
  padding: 65px 0;
  color: whitesmoke;

  .icon-part-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;

    .list-icon-part {

      .lip-logo {
        margin-bottom: 30px;
      }

      h3 {
        text-transform: uppercase;
        font-weight: 700;
      }

      p {
        width: 80%;
        margin: 10px auto 20px;
      }
      button {
        padding: 9px 32px;
      }
    }
  }
}
